<!DOCTYPE html> 
<html>
    <head>

    </head>
    <body>
        {{>header}}
        <h1>
            Temperature = 
           {{Temperature}}
        </h1>
        <h1>
            Location = 
            {{Location}}
        </h1>
    </body>
</html>